@font-face {
    font-family: 'Montserrat Alternates', sans-serif;
    src: url(/fonts/MontserratAlternatesThin.ttf);
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(/fonts/MontserratThin.ttf);
}